body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

canvas {
    background-color: #3fa34d; /* green grass */
    border: 4px solid black;
    display: block;
}

#score {
    font-size: 20px;
    margin-top: 10px;
}

#gameOver {
    display: none;
    margin-top: 20px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

#gameOver button {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background-color: #3424;
    color: #324f;
    border-radius: 5px;
}

#gameOver button:hover {
    background-color: #f425;
}
